[github]
user = 7onn

[user]
email = tom.garcia@trading212.com
name = Tom Garcia
signingkey = 0xD165AF52B2B44EAA
[commit]
gpgsign = true

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true

[alias]
lg = log --graph --all

[core]
excludesfile = ~/.gitignore_global

[push]
default = simple

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
[pull]
rebase = true
[init]
defaultBranch = main
