[user]
email = tmg.7@icloud.com
name = Tom M G
signingkey = 0x90674BFE48C97FB0
[commit]
gpgsign = True

[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = true
pager = true

[alias]
lg = log --graph --all

[github]
user = 7onn

[core]
excludesfile = ~/.gitignore_global

[push]
default = simple

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
[pull]
rebase = false
[init]
defaultBranch = main
